<section class="products mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="product-item">
                    <img class="img-fluid item-thumbnail" src="../../../assets/img/product/course_00.jpg" alt="course">
                    <div class="item-infor">
                        <h2 class="item-infor--name">Javascript cơ bản</h2>
                        <h3 class="item-infor--lesson">Bài bài giảng : <span>3</span></h3>
                        <h3 class="item-infor--coin">Loại khóa học: free</h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="product-item">
                    <img class="img-fluid item-thumbnail" src="../../../assets/img/product/course_00.jpg" alt="course">
                    <div class="item-infor">
                        <h2 class="item-infor--name">Javascript cơ bản</h2>
                        <h3 class="item-infor--lesson">Bài bài giảng : <span>3</span></h3>
                        <h3 class="item-infor--coin">Loại khóa học: free</h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="product-item">
                    <img class="img-fluid item-thumbnail" src="../../../assets/img/product/course_00.jpg" alt="course">
                    <div class="item-infor">
                        <h2 class="item-infor--name">Javascript cơ bản</h2>
                        <h3 class="item-infor--lesson">Bài bài giảng : <span>3</span></h3>
                        <h3 class="item-infor--coin">Loại khóa học: free</h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="product-item">
                    <img class="img-fluid item-thumbnail" src="../../../assets/img/product/course_00.jpg" alt="course">
                    <div class="item-infor">
                        <h2 class="item-infor--name">Javascript cơ bản</h2>
                        <h3 class="item-infor--lesson">Bài bài giảng : <span>3</span></h3>
                        <h3 class="item-infor--coin">Loại khóa học: free</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>