.products {
    .product-item {
        border-radius: 8px;
        box-shadow: 0px 0px 15px 2px #00000014;
        overflow: hidden;
        .item-infor {
            padding: 0px 15px 10px 15px;
            .item-infor--name {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: .3px;
                margin: 10px 0px 5px 0px;
                text-transform: uppercase;
            }
            h3 {
                font-size: 16px;
                letter-spacing: .3px;
                margin-bottom: 5px;
            }
        }
    }
}