<ul class="list-unstyled d-flex align-items-center common-breadcrumd">
    <li><a routerLink="/trang-chu">Khóa học</a></li>
    <li><a routerLink="/chi-tiet-khoa-hoc">Chi tiết khóa học</a></li>
    <li><span>Nội dung khóa học</span></li>
</ul>
<div class="detail-course">
    <h2 class="detail-course--name">{{ lesson.lessonName }}</h2>
    <div class="detail-course--info">
        <p><i class="fa fa-gg" aria-hidden="true"></i>{{'FE' | transform:'Type'}}</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ lesson.createDate | transform:'Date' }}</p>

    </div>
    <img class="detail-course--thumbnail" [src]="lesson.thumbnail" alt="thumbnail">
    <p class="detail-course--content">{{ lesson.lessonContent }}</p>

    <!-- <p class="detail-aythor">Tác giả: Nguyễn Phương Duy</p> -->
</div>