.product-lesson {
    .product-lesson--header {
        background-color: #244576;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        min-height: 230px;
        margin-bottom: 5px;
        padding-left: 20px;
        width: 100%;
        .lesson--header-infor {
            color: white;
            .header-infor--course_name {
                letter-spacing: .3px;
                font-size: 30px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            .header-infor--description {
                font-size: 15px;
                letter-spacing: .3px;
            }
            .header-infor--meta {
                font-size: 16px;
            }
            .header-infor--meta {
                span {
                    font-size: 13px;
                    text-transform: capitalize;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
            .expend-all-lesson {
                display: flex;
                align-items: center;
                .form-check-input {
                    accent-color: #d57600;
                }
                .form-check-label {
                    font-size: 13px;
                    margin-left: -3px;
                }
            }
        }
    }
    .lesson-blank {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        p {
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
        }
    }
    .lesson-registry {
        height: 100%;
        .registry-wrapper {
            background-color: white;
            box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
            position: fixed;
            right: 15px;
            top: 123px;
            width: 285px;
            .registry-infor {
                padding: 10px;
                .infor--course {
                    .infor--course-registry {
                        border: none;
                        border-radius: 3px;
                        background-color: #031b3d;
                        color: white;
                        letter-spacing: .3px;
                        font-size: 17px;
                        font-weight: 700;
                        padding: 10px;
                        transition: background-color .3s ease;
                        text-transform: uppercase;
                        width: 100%;
                        &:focus-visible, &:focus {
                            border-color: unset;
                            background-color:#031b3dad;
                            outline-color: unset;
                        }

                        &:hover {
                            background-color:#031b3dad;
                        }
                    }
                    .infor--course-title {
                        font-size: 16px;
                        font-weight: 600;
                        margin-top: 10px;
                        text-transform: capitalize;
                    }
                    .infor--course-content {
                        padding-left: 5px;
                        li {
                            p {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                font-size: 14px;
                                margin-bottom: 3px;
                                i.fa {
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .registry-share-more {
            border-top: 1px solid #d1d7dc;
            padding: 10px;
            .share-more--title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                text-transform: capitalize;
            }
            .share-more--description {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
}

.wrapper-collapse {
    .unit-component {
        border: 1px solid #ececec;
        padding: 15px;
        &:not(:first-child) {
            border-top: unset;
        }
        .unit-component--name {
            color: #000000;
            font-size: 18px;
            text-transform: capitalize;
            i.fa {
                margin-right: 5px;
            }
            a {
                color: inherit;
                cursor: pointer;
            }
        }
        .unit-lesson-component{
            margin-bottom: 0px;
            list-style-type: none;
            padding-left: 25px;
            transition: all .3s ease;
            &.lesson-close {
                overflow: hidden;
                height: 0px;
            }
            li {
                margin-bottom: 5px;
                a {
                    color: #00000099;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
    }
}