<header>
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <h1 class="header-logo">
                        <a routerLink="/trang-chu">Code udemy</a>
                    </h1>
                </div>
                <ul class="col-9 header-navigation list-unstyled mb-0 d-flex align-items-center justify-content-end">
                    <li><a routerLink="/trang-chu">Trang Chủ</a></li>
                    <li><a href="#">Khóa học</a></li>
                    <li><a href="#">Bài viết</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>