.products {
    .product-item {
        border-radius: 8px;
        box-shadow: 0px 0px 15px 2px #00000014;
        cursor: pointer;
        height: 100%;
        overflow: hidden;
        .item-infor {
            padding: 0px 15px 10px 15px;
            .infor-course {
                color: #000000;
            }
            .course--name {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: .2px;
                margin: 10px 0px 7px 0px;
                text-transform: uppercase;
            }
            .course-author, .course-description {
                font-size: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .course-description {
                -webkit-line-clamp: 2;
            }
            .course-type {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
                margin-top: 10px;
            }
            h3 {
                font-size: 16px;
                letter-spacing: .3px;
                margin-bottom: 5px;
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
}