<section class="products mt-3">
    <div class="row product-blank" *ngIf="!courseExit">
        <p class="col-12 mb-0">Khóa học hiện trống...</p>
    </div>
    <div class="row align-items-stretch" *ngIf="courseExit">
        <div class="col-3" *ngFor="let item of courses">
            <a (click)="redirectCourseLesson(item)" class="product-item d-block">
                <img class="img-fluid item-thumbnail" src="{{item.thumbnail}}" alt="course">
                <div class="item-infor">
                    <h2 class="infor-course course--name">{{item.courseName}}</h2>
                    <h3 class="infor-course course-type">
                        <span>Khóa học : {{item.type}}</span>
                        <span>Bài học : {{item.unit}}</span>
                    </h3>
                </div>
            </a>
        </div>
    </div>
</section>