<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-start">
                <div class="footer-logo">
                    <a routerLink="/trang-chu">Code udemy</a>
                </div>
                <div class="footer-info">
                    <ul class="footer-list list-unstyled mb-0">
                        <li><a routerLink="#">Trang chủ</a></li>
                        <li><a routerLink="#">Khóa học</a></li>
                        <li><a routerLink="#">Bài viết</a></li>
                    </ul>
                    <p class="footer-text-infor">Coppy right by Nguyễn Phương Duy - 16/03/2022</p>
                </div>
            </div>
            <div class="col-6">
                <ul class="footer-list footer-contact list-unstyled mb-0">
                    <li><a routerLink="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                </ul>
                <p class="footer-text-infor">Support phuongduynguyen75@gmail.com</p>
            </div>
        </div>
    </div>
</footer>