<div class="user-register">
    <div class="wrapper-register">
        <h2 class="register--title">Đăng nhập</h2>
        <form [formGroup]="signInForm" (submit)="userSignIn()">
            <app-common-form-input
                Label="Email"
                [FormController]="email"
                [Submit]="submitEvent"
                (InputChanged)="User.email=$event"
                Id="user-email"
                Placeholder="VD: Email@gmail.com"
                Type="email">
            </app-common-form-input>

            <app-common-form-input
                Label="Mật khẩu"
                [FormController]="password"
                [Submit]="submitEvent"
                (InputChanged)="User.password=$event"
                Id="user-password"
                Placeholder="Mật khẩu đăng nhập"
                Type="password">
            </app-common-form-input>

            <button type="submit" class="btn btn-user-signin">Đăng nhập</button>
            <div class="user-change-form">
                <a [routerLink]="['/user/register']">Đăng ký</a>
            </div>
        </form>
    </div>
</div>