<div class="user-information">
    <div class="information--profile">
        <h2 class="profile_title">
            <a [routerLink]="['/trang-chu']" class="back-page" ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            Thông tin người dùng
        </h2>
        <div class="profile_infor">
            <form [formGroup]="profileForm" (submit)="onSubmit()">
                <div class="row">
                    <div class="col-6">
                        <app-common-form-input
                            Label="Tên đăng nhập *"
                            Placeholder="Tên người dùng"
                            [FormController]="Name"
                            [Submit]="submitEvent"
                            (Input)="user.Name=$event"
                            Id="Name"
                            Type="text"
                            TypeElement="Input">
                        </app-common-form-input>

                        <app-common-form-input
                            Label="Email *"
                            Placeholder="VD: email@gmail.com"
                            [FormController]="Email"
                            [Submit]="submitEvent"
                            (Input)="user.Email=$event"
                            Id="Email"
                            Type="email"
                            TypeElement="Input">
                        </app-common-form-input>

                        <app-common-form-input
                            Label="Giới tính *"
                            [FormController]="Gender"
                            [Submit]="submitEvent"
                            (Change)="user.Gender=$event"
                            Id="Gender"
                            TypeElement="Selector"
                            [Options]="options">
                        </app-common-form-input>

                        <app-common-form-input
                            Label="Ngày/ tháng/ năm sinh *"
                            Placeholder="Ngày sinh"
                            [FormController]="DateOfBirth"
                            [Submit]="submitEvent"
                            (Input)="user.DateOfBirth=$event"
                            Id="DateOfBirth"
                            Type="date"
                            TypeElement="Input">
                        </app-common-form-input>

                        <app-common-form-input
                            Label="Số điện thoại *"
                            Placeholder="+84"
                            [FormController]="Phone"
                            [Submit]="submitEvent"
                            (Input)="user.Phone=$event"
                            Id="Phone"
                            Type="phone"
                            TypeElement="Input">
                        </app-common-form-input>

                        <app-common-form-input
                            Label="Địa chỉ liên hệ *"
                            Placeholder="Địa chỉ"
                            [FormController]="Address"
                            [Submit]="submitEvent"
                            (Input)="user.Address=$event"
                            Id="Address"
                            Type="text"
                            TypeElement="Input">
                        </app-common-form-input>

                        <div class="form-group">
                            <button type="submit" class="btn btn-submition">Cập nhật</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="priture-wrapper">
                            <div class="profile_infor__priture">
                                <img src="../../../../assets/img/product/course_00.jpg" alt="user priture">
                            </div>
                            <button type="button" class="priture--update">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <h3 class="priture--name">Nguyễn Phương Duy</h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>