.user-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    .wrapper-register {
        box-shadow: 0 0 2px #00000030;
        padding: 35px 20px 15px 20px;
        min-width: 675px;
        .register--title {
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            .back-page {
                margin-bottom: 13px;
            }
            .form-title {
                width: 100%;
            }
        }
        form {
            .btn-user-signin {
                background-color: #f28d0f;
                color: #ffffff;
                text-transform: capitalize;
                width: 100%;
            }
            .btn-user-social {
                display: flex;
                align-items: center;
                justify-content: strech;
                .user-social {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    span {
                        font-size: 22px;
                        position: relative;
                        i.fa {
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translate(0%, -50%);
                        }
                    }
                    p {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }
            .user-change-form {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    margin-bottom: 0px;
                    margin-right: 3px;
                }
                a {
                    color: #f28d0f;
                    &:hover {
                        color: #f28d0f;
                    }
                }
            }
        }
    }
}