<div class="user-register">
    <div class="wrapper-register">
        <h2 class="register--title">Đăng ký</h2>
        <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="form-group">
                <label for="user-signin-name">Tên đăng ký</label>
                <input type="text" formControlName="user_name" class="form-control" id="user-signin-name"
                    [(ngModel)]="User['user_name']" placeholder="Tên người dùng">
            </div>

            <div class="form-group">
                <label for="user-signin-email">Email người dùng</label>
                <input type="email" class="form-control" id="user-signin-email" formControlName="email"
                    [(ngModel)]="User.email" placeholder="Email@gmail.com">
            </div>

            <div class="form-group">
                <label for="user-signin-password">Mật khẩu</label>
                <input type="password" class="form-control" id="user-signin-password" formControlName="password"
                    [(ngModel)]="User.password" placeholder="Nhập 6 ký tự hoặc nhiều hơn">
            </div>

            <div class="form-group">
                <label for="user-signin-dateofbirth">Ngày sinh</label>
                <input type="date" class="form-control" id="user-signin-dateofbirth" formControlName="dateOfBirth"
                    [(ngModel)]="User.dateOfBirth" placeholder="Tên người dùng">
            </div>

            <button type="submit" class="btn btn-user-signin">Đăng nhập</button>
            <div class="user-change-form">
                <a [routerLink]="['/user/signin']">Đăng nhập</a>
            </div>
        </form>
    </div>
</div>