.user-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    .wrapper-register {
        box-shadow: 0 0 2px #00000030;
        padding: 35px 20px 15px 20px;
        width: 415px;
        .register--title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
            text-align: center;
            text-transform: uppercase;
        }
        form {
            .btn-user-signin {
                background-color: #f28d0f;
                color: #ffffff;
                text-transform: capitalize;
                width: 100%;
            }
            .user-change-form {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    margin-bottom: 0px;
                    margin-right: 3px;
                }
                a {
                    color: #f28d0f;
                    &:hover {
                        color: #f28d0f;
                    }
                }
            }
        }
    }
}