<div class="user-register">
    <div class="wrapper-register">
        <h2 class="register--title">
            <a [routerLink]="['/trang-chu']" class="back-page" ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            <p class="form-title">Đăng ký</p>
        </h2>

        <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <app-common-form-input
                        Label="Họ và tên *"
                        [FormController]="Name"
                        [Submit]="submitEvent"
                        (Input)="user.Name=$event"
                        Id="Name"
                        Placeholder="Họ và tên của bạn"
                        Type="text"
                        TypeElement="Input">
                    </app-common-form-input>

                    <app-common-form-input
                        Label="Email *"
                        [FormController]="Email"
                        [Submit]="submitEvent"
                        (Input)="user.Email=$event"
                        Id="Email"
                        Placeholder="VD: Email@gmail.com"
                        Type="email"
                        TypeElement="Input">
                    </app-common-form-input>

                    <app-common-form-input
                        Label="Mật khẩu *"
                        [FormController]="Password"
                        [Submit]="submitEvent"
                        (Input)="user.Password=$event"
                        Id="Password"
                        Placeholder="Nhập mật khẩu"
                        Type="password"
                        TypeElement="Input">
                    </app-common-form-input>

                    <app-common-form-input
                        Label="Nhập lại mật khẩu *"
                        [FormController]="ConformPassword"
                        [Submit]="submitEvent"
                        Id="conform-password"
                        Placeholder="Nhập lại mật khẩu"
                        Type="password"
                        TypeElement="Input">
                    </app-common-form-input>

                </div>
                <div class="col-6">
                    <app-common-form-input
                        Label="Giới tính *"
                        [FormController]="Gender"
                        [Submit]="submitEvent"
                        (Change)="user.Gender=$event"
                        Id="Gender"
                        TypeElement="Selector"
                        [Options]="options">
                    </app-common-form-input>

                    <app-common-form-input
                        Label="Ngày/ tháng/ năm sinh *"
                        Placeholder="Ngày sinh"
                        [FormController]="DateOfBirth"
                        [Submit]="submitEvent"
                        (Input)="user.DateOfBirth=$event"
                        Id="DateOfBirth"
                        Type="date"
                        TypeElement="Input">
                    </app-common-form-input>

                    <app-common-form-input
                        Label="Số điện thoại *"
                        Placeholder="+84"
                        [FormController]="Phone"
                        [Submit]="submitEvent"
                        (Input)="user.Phone=$event"
                        Id="Phone"
                        Type="phone"
                        TypeElement="Input">
                    </app-common-form-input>

                    <app-common-form-input
                        Label="Địa chỉ liên hệ *"
                        Placeholder="Địa chỉ"
                        [FormController]="Address"
                        [Submit]="submitEvent"
                        (Input)="user.Address=$event"
                        Id="Address"
                        Type="text"
                        TypeElement="Input">
                    </app-common-form-input>
                </div>

            </div>

            <div class="d-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-submition">Đăng ký</button>
                <button type="submit" class="btn btn-submition btn-user-social">
                    <div class="user-social">
                        <span><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
                        <p>Facebook</p>
                    </div>
                </button>
                <button type="submit" class="btn btn-submition btn-user-social">
                    <div class="user-social">
                        <span><i class="fa fa-google" aria-hidden="true"></i></span>
                        <p>Google</p>
                    </div>
                </button>
            </div>
            <div class="user-change-form">
                <p>Bạn đã có tài khoản?</p>
                <a [routerLink]="['/user/signin']">Đăng nhập</a>
            </div>
        </form>
    </div>
</div>