<section class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="slider-wrapper">
                    <ul class="slider-bard list-unstyled mb-0">
                        <li>
                            <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <span>Khóa học đăng ký</span>
                        </li>
                        <li>
                            <button><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
                            <span>Người dùng</span>
                        </li>
                        <li>
                            <button><i class="fa fa-power-off" aria-hidden="true"></i></button>
                            <span>Đăng xuất</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>