.slider-wrapper{
    height: 100vh;
    .slider-bard {
        box-shadow: 0px 0px 2px 0px #00000030;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 100vh;
        left: 0px;
        top: 60px;
        position: fixed;
        padding: 15px 20px;
        width: 225px;
        li {
            border-radius: 5px;
            box-shadow: 0px 0px 1px 1px #0000001f;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 10px 5px;
            width: 100%;
            &:not(:first-child) {
                margin-top: 20px;
            }
            &:hover, &:focus {
                background-color: #ddd;
            }
            button {
                padding: 10px;
                border: unset;
                background-color: unset;
                i.fa {
                    font-size: 15px;
                }
            }
            span {
                font-size: 11px;
                text-transform: uppercase;
            }
        }
    }
}