<section class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="slider-wrapper">
                    <ul class="slider-bard list-unstyled mb-0">
                        <li *ngIf="!userSignIn">
                            <a [routerLink]="['/user/register']">
                                <p class="slider-bard--icon">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </p>
                                <p class="slider-bard--des">Khóa học đăng ký</p>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/information/user']">
                                <p class="slider-bard--icon">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </p>
                                <p class="slider-bard--des">Người dùng</p>
                            </a>
                        </li>
                        <li *ngIf="!userSignIn">
                            <a [routerLink]="['/user/signin']">
                                <p class="slider-bard--icon">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                </p>
                                <p class="slider-bard--des">Đăng nhập</p>
                            </a>
                        </li>
                        <li *ngIf="userSignIn">
                            <a (click)="clientLogout()">
                                <p class="slider-bard--icon">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                </p>
                                <p class="slider-bard--des">Đăng xuất</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>