.slider-wrapper {
    height: 100vh;
    .slider-bard {
        box-shadow: 0px 0px 2px 0px #00000030;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 100vh;
        left: 0px;
        top: 60px;
        position: fixed;
        padding: 15px 20px;
        width: 225px;
        z-index: 1;
        li {
            border-radius: 5px;
            box-shadow: 0px 0px 1px 1px #00000017;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            &:not(:first-child) {
                margin-top: 20px;
            }
            &:hover,
            &:focus {
                background-color: #fafafa8f;
            }
            a {
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                cursor: pointer;
                height: 100%;
                padding: 20px 5px;
                width: 100%;
                p {
                    font-size: 12px;
                    margin-bottom: 0px;
                    text-transform: uppercase;
                }
                .slider-bard--icon {
                    margin-bottom: 5px;
                    i.fa {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}